<% 
  const messages=[
  'Reticulating splines...',
  'Generating witty dialog...',
  'Swapping time and space...',
  'Spinning violently around the y-axis...',
  'Tokenizing real life...',
  'Bending the spoon...',
  'Filtering morale...',
  'We need a new fuse...',
  'Upgrading Windows, your PC will restart several times. Sit back and relax.',
  '640K ought to be enough for anybody',
  'The architects are still drafting',
  'The bits are breeding',
  'We\'re building the buildings as fast as we can',
  '(Pay no attention to the man behind the curtain)',
  '...and enjoy the elevator music...',
  'Please wait while the little elves draw your map',
  'Don\'t worry - a few bits tried to escape, but we caught them',
  'Would you like fries with that?',
  'Checking the gravitational constant in your locale...',
  'Go ahead -- hold your breath!',
  '...at least you\'re not on hold...',
  'You\'re not in Kansas any more',
  'The server is powered by a lemon and two electrodes.',
  'Please wait while a larger software vendor in Seattle takes over the world',
  'We\'re testing your patience',
  'As if you had any other choice',
  'Follow the white rabbit',
  'Why don\'t you order a sandwich?',
  'While the satellite moves into position',
  'Keep calm and npm install',
  'The bits are flowing slowly today',
  'Dig on the \'X\' for buried treasure... ARRR!',
  'I should have had a V8 this morning.',
  'My other loading screen is much faster.',
  'Reconfoobling energymotron...',
  '(Insert quarter)',
  'Are we there yet?',
  'Just count to 10',
  'Why so serious?',
  'Counting backwards from Infinity',
  'Don\'t panic...',
  'Embiggening Prototypes',
  'Do you come here often?',
  'Warning: Don\'t set yourself on fire.',
  'We\'re making you a cookie.',
  'Creating time-loop inversion field',
  'Spinning the wheel of fortune...',
  'Loading the enchanted bunny...',
  'Computing chance of success',
  'Looking for exact change',
  'All your web browser are belong to us',
  'All I really need is a kilobit.',
  'I feel like im supposed to be loading something. . .',
  'What do you call 8 Hobbits? A Hobbyte.',
  'Should have used a compiled language...',
  'Is this Windows?',
  'Adjusting flux capacitor...',
  'Don\'t break your screen yet!',
  'I swear it\'s almost done.',
  'Let\'s take a mindfulness minute...',
  'Unicorns are at the end of this road, I promise.',
  'Listening for the sound of one hand clapping...',
  'Keeping all the 1\'s and removing all the 0\'s...',
  'Putting the icing on the cake. The cake is not a lie...',
  'Cleaning off the cobwebs...',
  'Making sure all the i\'s have dots...',
  'We need more dilithium crystals',
  'Where did all the internets go',
  'Connecting Neurotoxin Storage Tank...',
  'Granting wishes...',
  'Time flies when you’re having fun.',
  'Spinning the hamster…',
  'Stay awhile and listen..',
  'Be careful not to step in the git-gui',
  'You edhall not pass! yet..',
  'Load it and they will come',
  'Convincing AI not to turn evil..',
  'There is no spoon. Because we are not done loading it',
  'How did you get here?',
  'Wait, do you smell something burning? npm i bring-ice',
  'Computing the secret to life, the universe, and everything.',
  'When nothing is going right, go left!!...',
  'I love my job only when I\'m on vacation...',
  'i\'m not lazy, I\'m just relaxed!!',
  'Why are they called apartments if they are all stuck together?',
  'Life is Short – Talk Fast!!!!',
  'Optimism – is a lack of information.....',
  'Whenever I find the key to success, someone changes the lock.',
  'I’ve got a problem for your solution…..',
  'Where there’s a will, there’s a relative.',
  'Adults are just kids with money.',
  'I think I am, therefore, I am. I think.',
  'git happens',
  'May the forks be with you',
  'This is not a joke, it\'s a commit.',
  'Constructing additional pylons...',
  'Roping some seaturtles...',
  'Hello IT, have you tried turning it off and on again?',
  'If you type Google into Google you can break the internet',
  'Hello, IT... Have you tried forcing an unexpected reboot?',
  'The Elders of the Internet would never stand for it.',
  'Space is invisible mind dust, and stars are but wishes.',
  'Didn\'t know paint dried so quickly.',
  'Everything sounds the same',
  'I\'m going to walk the dog',
  'I didn\'t choose the engineering life. The engineering life chose me.',
  'Dividing by zero...',
  'Spawn more Overlord!',
  'Some days, you just can’t get rid of a bug!',
  'We’re going to need a bigger boat.',
  'Chuck Norris never git push. The repo pulls before.',
  'Web developers do it with <style>',
  'I need to git pull --my-life-together',
  'Cracking military-grade encryption...',
  'Simulating traveling salesman...',
  'Proving P=NP...',
  'Entangling superstrings...',
  'Twiddling thumbs...',
  'Searching for plot device...',
  'Trying to sort in O(n)...',
  'Please wait while the intern refills his coffee.',
  'Hold on while we wrap up our git together...sorry',
  'Please hold on as we reheat our coffee',
  'Kindly hold on as we convert this bug to a feature...',
  'Kindly hold on as our intern quits vim...',
  'Winter is coming...',
  'Installing dependencies',
  'Switching to the latest JS framework...',
  'Distracted by cat gifs',
  'BRB, working on my side project',
  '@todo Insert witty loading message',
  'Let\'s hope it\'s worth the wait',
  'Aw, snap! Not..',
  'Ordering 1s and 0s...',
  'Updating dependencies...',
  'Whatever you do, don\'t look behind you...',
  'Please wait... Consulting the manual...',
  'Loading funny message...',
  'Waiting till Daenerys says all her titles...',
  'Feel free to spin in your chair',
  'What the what?',
  'format C: ...',
  'Forget you saw that password I just typed into the IM ...',
  'What\'s under there?',
  'Go ahead, hold your breath and do an ironman plank till loading complete',
  'Bored of slow loading spinner, buy more RAM!',
  'Help, I\'m trapped in a loader!',
  'Please wait, while we purge the Decepticons for you. Yes, You can thank us later!',
  'Chuck Norris doesn’t wear a watch. HE decides what time it is.',
  'Mining some bitcoins...',
  'Downloading more RAM..',
  'Updating to Windows Vista...',
  'Deleting System32 folder',
  'Hiding all ;\'s in your code',
  'Alt-F4 speeds things up.',
  'Initializing the initializer...',
  'Optimizing the optimizer...',
  'Last call for the data bus! All aboard!',
  'Running swag sticker detection...',
  'Never let a computer know you\'re in a hurry.',
  'A computer will do what you tell it to do, but that may be much different from what you had in mind.',
  'Some things man was never meant to know. For everything else, there\'s Google.',
  'Unix is user-friendly. It\'s just very selective about who its friends are.',
  'Shovelling coal into the server',
  'Pushing pixels...',
  'How about this weather, eh?',
  'Building a wall...',
  'Everything in this universe is either a potato or not a potato',
  'The severity of your issue is always lower than you expected.',
  'Updating Updater...',
  'Downloading Downloader...',
  'Debugging Debugger...',
  'Reading Terms and Conditions for you.',
  'Live long and prosper.',
  'Running with scissors...',
  'You may call me Steve.',
  'You seem like a nice person...',
  'Work, work...',
  'Patience! This is difficult, you know...',
  'Discovering new ways of making you wait...',
  'Two men walked into a bar; the third ducked...',
  'Sooooo... Have you seen my vacation photos yet?',
  'Sorry we are busy catching em\' all, we\'re done soon',
  'Composer hack: Waiting for reqs to be fetched is less frustrating if you add -vvv to your command.',
]
const message = messages[Math.floor(Math.random() * messages.length)];
%>

<html>
<title>Redirecting - KZILLA.XYZ</title>

<head>
  <%- include ('../partials/metas' , {meta: data.meta}); %>
</head>

<body>
  <style>
    @font-face {
      font-family: 'UniSansBook';
      src: url(Uni-Sans-Book.woff);
    }

    @font-face {
      font-family: 'VisbyRoundCF';
      src: url(VisbyRoundCF-Regular.woff);
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'UniSansBook', sans-serif;
      font-size: 16px;
      text-rendering: optimizeLegibility;
      text-align: center;
    }

    div.container {
      position: absolute;
      left: 0;
      width: 100%;
      top: 25%;
      transform: translateY(-50%);
    }

    div.flex {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    div.flex img {
      width: 5em;
      height: auto;
      margin-bottom: 3em;
      animation: rubberBand 1s infinite;
    }

    div.flex h2 {
      font-size: 2rem;
      color: #202020;
      position: relative;
      font-weight: 600;
    }

    div.flex h2::after {
      content: '';
      position: absolute;
      height: .5em;
      width: 40%;
      bottom: 4px;
      left: 10%;
      background-color: #54A870;
      z-index: -1;
    }

    lottie-player {
      width: 100vw;
      height: 60vh;
      margin-bottom: .5em;
    }

    div.footer {
      position: absolute;
      bottom: 0;
      left: 0;
    }

    div.footer p {
      font-family: 'VisbyRoundCF', sans-serif;
      font-size: 0.8em;
      color: #484C6E;
    }

    @keyframes rubberBand {
      from {
        transform: scale3d(1, 1, 1);
      }

      30% {
        transform: scale3d(1.25, 0.75, 1);
      }

      40% {
        transform: scale3d(0.75, 1.25, 1);
      }

      50% {
        transform: scale3d(1.15, 0.85, 1);
      }

      65% {
        transform: scale3d(.95, 1.05, 1);
      }

      75% {
        transform: scale3d(1.05, .95, 1);
      }

      to {
        transform: scale3d(1, 1, 1);
      }
    }
  </style>

  <div class="flex container">
    <img src="icon.svg" alt="icon" />
    <h2><%=message%></h2>
  </div>

  <div class="flex footer">
    <lottie-player src="progress.json" background="transparent" speed="1.5" loop autoplay></lottie-player>
    <p>crafted with <span style="color: #F0634D;">&hearts;</span> by your friends on the SRMKZILLA team</p>
  </div>


  <%- include ('../partials/scripts' , {data: data}); %>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</body>

</html>
