/* -----------------------------Fonts-------------------------------------------- */

@font-face {
  font-family: UniSansHeavy;
  src: url("./Uni-Sans-Heavy.otf") format("woff");
}

@font-face {
  font-family: UniSansBook;
  src: url("./Uni-Sans-Book.woff") format("woff");
}

@font-face {
  font-family: VisbyRoundLight;
  src: url("./VisbyRoundCF-Light.otf") format("opentype");
}

@font-face {
  font-family: VisbyRoundRegular;
  src: url("./VisbyRoundCF-Regular.otf") format("opentype");
}


/* ----------------------------Defaults------------------------------------------ */

:root {
  --white: #ffffff;
  --black: #000000;
  --orange: #f0634d;
  --blue: #26baff;
  --grey: #f5f5f5;
  --deepBlue: #484c6e;
  --green: #54a870;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

button {
  border-style: none;
  font-family: uniSansHeavy !important;
}

a:hover {
  color: #ffffff;
  text-decoration: none !important;
}
::selection {
  background-color: var(--green);
  color: var(--white);
  z-index: 1 !important;
}
