button{
	border-style: none;
}

a:hover{
	color: #ffffff;
	text-decoration: none;
}

/*------------------------------Navbar--------------------------------------------*/



.image{
	position: absolute;
	height: 100px;
	left: 30px;
	top: 20px;
}
.linker{
	position: absolute;
	right: 30px;
	top: 40px;
	font-size: 20px;
	color: #ffffff;
	background-color: #000000;
	padding: 15px 40px 15px 40px; 
	text-transform: uppercase;
	border-radius: 10px;
}
.linker:hover{
	text-decoration: none;
	color: #ffffff;
}

@media(max-width: 500px){
	.image{
		height: 60px;
	}
	.linker{
		font-size: 15px;
		padding: 10px 20px 10px 20px;
		top: 30px;
		border-radius: 7px;
	}
}